@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Dancing+Script:wght@400..700&family=Grey+Qo&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*"Poppins"*/
:root{
    --main-font: "Poppins", sans-serif;
    --main-color: #2b2b2b;
    --main-dark-color: #F4F5F7;
    --header-backgroundColor: rgba(116, 99, 99, 0.1);
    --font-color-black: #434343; 
    --main-backgroundColor: #F4F5F7;/*#FFF3E3;/*#FFF3E3;/*#f3ede8; #FFF3E3;*/
    --skill-bg1:#cdc0b1;
    --skill-bg2:#afa395;
    --skill-bg3:#81887c;
    --skill-bg4:#afa7a2;
    --skill-bg5:#a6afa2;
}
footer{
    background-color: #f3ede8;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

body{
    background-color: var(--main-backgroundColor);
}