#projects{
    padding: 20px;
}

.project-title{
    border-bottom: 5px solid black;
    padding-bottom: 10px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    width: 45%;
    height: 5vw;
    font-size: 4vw;
    font-weight: 900;
    line-height: 1.6;
    text-transform: uppercase;
    font-family: var(--main-font);
} 

.projects-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    gap: 20px;
}

@media(max-width: 680px){
    .project-title{
        text-align: center;
        width: 100%;
        height: auto;
        font-size: 30px;
        top: 65px;
        padding-top: 10px;
        background-color: var(--main-backgroundColor);
    }
}